<!-- <footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2026 DIANITA Ароматы, пробуждающие чувства.</p>
    </div>
</footer> -->
<!-- <footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">
      Copyright &copy; Store 2026 DIANITA Ароматы, пробуждающие чувства.
      <a href="{% url 'products:tel' %}" class="text-white">Контакты</a>
    </p>
  </div>
</footer> -->
<!-- <footer class="py-2 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white mb-2">
      Copyright &copy; Store 2026 DIANITA 
    </p>
    <p class="m-0 text-center">
        <a href="{% url 'index' %}" class="text-white text-decoration-none">Ароматы, пробуждающие чувства.</a>
    </p>
    <p class="m-0 text-center">
      <a href="{% url 'products:tel' %}" class="text-white text-decoration-none">Наши контакты</a>
    </p>
  </div>
</footer> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<footer class="py-1 bg-dark">
  <div class="container">
    <p class="m-1 text-center text-white">
      Copyright &copy; Store 2026 DIANITA
    <p class="mt-1 text-center text-white">Ароматы, пробуждающие чувства.</p>
    </p>
    <p class="mt-1 text-center">
      <a href="{% url 'contacts:tel' %}" class="text-white text-decoration-none">
        <i class="fas fa-address-book me-1"></i> Наши контакты
      </a>
    </p>
  </div>
</footer>