{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/mobile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <!--    <div class="alert alert-light text-center" role="alert">-->
    <!--        Информационное сообщение-->
    <!--    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-light text-center" role="alert">
                    <div class="mt-5  text-center">
                        <!-- <div class="texts"> -->
                        <h1>
                            <p>Интернет магазин косметики DIANITA</p>
                            <p>Ароматы, пробуждающие чувства.</p>
                        </h1></div>
                        <h2>
                            <p>
                                Собственный бренд. Новые повары на рынке.</p>
                            <p> Новые поступления в магазине косметики.
                            </p>
                        </h2>
                    </div>
                    <div class="mt-5  text-left">
                        🎁 ИДЕАЛЬНЫЙ ПОДАРОК:
                        <p>Забудьте про обыденные сувениры! Этот диффузор — знак внимания к деталям. Его роскошный
                            аромат и
                            дизайн скажут о вашем отношении больше любых слов. Идеально для новоселья, дня рождения или
                            в знак
                            особого уважения.
                        </p>
                        ✨ КЛЮЧЕВЫЕ ПРЕИМУЩЕСТВА:
                        <p>⏳ НЕВЕРОЯТНАЯ СТОЙКОСТЬ: Наслаждайтесь насыщенным ароматом до 3 месяцев и его мягким,
                            деликатным
                            шлейфом до 6 месяцев. Натуральные компоненты раскрываются постепенно, даря новые оттенки.
                        </p>
                        <p> 🌿 ПРЕМИАЛЬНЫЕ КОМПОНЕНТЫ: В основе — натуральные ароматические масла из Франции и Германии.
                            Никакой
                            химии, только чистый, безопасный и благородный запах.
                        </p>
                        <p>🎛 КОНТРОЛЬ ИНТЕНСИВНОСТИ: Вы — режиссер аромата в своем доме! Используйте 1-2 палочки для
                            ненавязчивого фона или все 5 для яркого, выразительного звучания. Просто переверните
                            палочки, чтобы
                            обновить волну аромата.</p>

                        <p>🏠 СОЗДАЕТ АТМОСФЕРУ: Один диффузор эффективно ароматизирует пространство до 20 м² (гостиная,
                            спальня, кабинет). Для лучшего результата разместите его на высоте около 1 метра.</p>
                        <p>🛡 БЕЗОПАСНОСТЬ И СЕРТИФИКАЦИЯ: Абсолютно безопасен для ежедневного использования даже в
                            комнате с детьми и домашними животными. Вся продукция имеет сертификаты соответствия.</p>
                        <p>🎨 ЭКОЛОГИЧЕСКОЕ ПРОИЗВОДСТВО: Каждый флакон создается с вниманием к деталям вручную. Это                            делает ваш экземпляр по-настоящему уникальным.</p>

                        </p>
                    </div>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'products:index' %}">
                            Начать покупки
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
{% include 'products/footers.html' %}
{% endblock %}