{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'vendor/css/oreder-create.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<p></p>
<p></p>
<br><br>
<h2>Оформление заказа - order-create.html</h2>
 <h3> Добрый день </h3>
{{ form.as_p }}
<form method="post">
     {% csrf_token %}
     <!-- {% for basket in baskets %} -->
     <!-- <p> Добрый день  -->
          <!-- {{ basket.user }} </p> -->
     <!-- {% endfor %} -->
     <!-- <input type="text" name="name" placeholder="Имя" required class="form-control mb-2" cols="45">
     <textarea name="address" placeholder="Адрес доставки" required class="form-control mb-1"></textarea>
     <input 
    type="tel"
    name="phone"
    placeholder="Номер телефона = +79991234567"
    required
    class="form-control mb-1"> -->


     {% csrf_token %}

     <h4>Ваш заказ № {{ order.id }}</h4>
     
     {% for basket in baskets %}
     <p>
     <p>{{ basket.user }} - 
          {{ basket.product.name }} x {{ basket.quantity }} = {{ basket.sum }}
     </p>
     {% endfor %}

     <h3>Итого: {{ baskets.total_sum }}</h3>

     <form method="post" action="{% url 'orders:order_status' %}">
      <!-- <button type="submit" class="btn btn-success">
        Оформить заказ
    </button -->
          {% csrf_token %}

          <input type="hidden" name="order_id" value="{{ order.id }}">

          <button type="submit" class="btn
               {% if order.status == 'confirmed' %}btn-success
               {% elif order.status == 'shipped' %}btn-danger
               {% else %}
               btn-info
               {% endif %}">
               {{ order.status }}
               Подтвердить
          </button>
     </form>

     {% endblock %}

 {% block footer %}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2026 DIANITA Ароматы, пробуждающие чувства.</p>
    </div>
    <!-- /.container -->
</footer>
{% endblock %}
