{% extends 'products/base.html' %}
{% load static %}
<div class="tabs">
{% block content %}
{% csrf_token %}
<hr>
<hr>
<hr>
<h2>Заказ №{{ order.id }}</h2>

<h3>Статус: {{ order.status }}</h3>
<h3>Адрес: {{ order.address }}</h3>

<h3>Товары:</h3>

{% for item in order.items.all %}
<h3>{{ item.product.name }} x {{ item.quantity }} = {{ item.price }}</h3>
{% endfor %}

<ul>
    <li><a href="/">Вернуться в магазин</a></li>
</ul>
<ul>
    <li><a href="{% url 'orders:user_orders' %}">Мои заказы</a></li>
</ul>
</div>
{% endblock %}