{% extends 'products/base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
<hr>
<hr>
<hr>
<h2>Мои заказы11</h2>

<a href="?status=new">Новые</a> |
<a href="?status=confirmed">Подтвержденные</a> |
<a href="?status=shipped">Отправлен</a>

<hr>
{% csrf_token %}
{% for order in orders %}
<div class="card mb-3 p-3">

    <p><strong>Заказ №{{ order.id }}</strong></p>
    <p><strong>Клиент:{{order.user}}</strong></p>
    <p>Статус: <span id="status-{{ order.id }}">{{ order.status }}</span></p>
    <p>Дата: {{ order.created }}</p>

    <a href="{% url 'orders:order_detail' order.id %}">
        Подробнее
    </a>

    <a href="{% url 'orders:create' %}">
        create
    </a>
    <!-- <a class="navbar-brand" href="{% url 'orders:create' %}">Интернет магазин</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->


    <div class="mt-2">
        {% csrf_token %}
        {% if order.status == 'new' %}

        <form method="post" action="{% url 'orders:create' %}">

            <input type="hidden" name="order_id" value="{{ order.id }}">

            <button type="submit" class="btn btn-success">
                Подтвердить
            </button>
        </form>
        {% endif %}
    </div>
</div>
{% empty %}
<p>Нет заказов</p>
{% endfor %}
{% endblock %}