{% extends 'products/base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
<hr>
<hr>
<h2>Мои заказы</h2>

<a href="?status=new">Новые</a> |
<a href="?status=confirmed">Подтвержденные</a> |
<a href="?status=shipped">Отправлен</a>

<hr>

<div class="tabs">
    {% csrf_token %}
    {% if orders %}
    <main class="main">
        <div class="result-wrapper">

            <div class="adaptive-table-wrapper">
                <table class="adaptive-table">
                    <thead>
                        <tr>
                            <th>Просмотр |</th>
                            <th>Заказ № |</th>
                            <th>Клиент |</th>
                            <th>Статус | </th>
                            <th>Дата |</th>
                            <th>Изменить |</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% csrf_token %}
                        {% for order in orders %}
                        <tr>
                            <td>
                                <div class="summary-button">
                                    <a href="{% url 'orders:order_detail' order.id %}" class="back-href" {{%
                                        order.orders %}}>
                                        <img src="{% static 'vendor/img/eye.svg' %}" alt="Просмотреть" width="16"
                                            height="16" class="mg-lft"></a>
                                </div>
                            </td>
                            <td>{{ order.id }}</td>
                            <td>{{order.user}}</td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.created }}</td>

                            {% csrf_token %}
                            {% if order.status == 'new' %}
                            <td>
                                <a class="btn btn-success btn-lg float-right" href="{% url 'orders:create' %}">
                                    Оформить заказ
                                </a>

                                <!-- <a href="{% url 'orders:create' %}">Просмотр1</a> -->
                            </td>

                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% else %}
            <p>Нет заказов</p>
            {% endif %}
        </div>
        <hr>
        <hr>

        {% endblock %}