{% extends 'products/base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-row">
                <div class="col-lg-12 text-center">
                    <br><br>
                    <a>success.html</a>
                    <h2>✅ Заказ успешно оформлен!</h2>
                    {% csrf_token %}
                    <p>Спасибо, {{ orders.users }}!</p>
                    <a href="/">Вернуться в магазин</a>
                    <br>


                    <a class="" href="{% url 'orders:orders' %}">

                        Мои подтвержденные заказы
                    </a>
                    <ul>
                        <a class="" href="{% url 'orders:user_orders' %}">Мои
                            заказы</a>
                             <!-- <a class="btn btn-success btn-lg float-right" href="{% url 'orders:user_orders' %}">Мои
                            заказы</a> -->
                    </ul>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% block footer %}
{% include 'products/footers.html' %}
{% endblock %}