<h2>Подтвержденные заказы22</h2>
 
<table class="table table-bordered">

     {% csrf_token %}
    <thead>
        <tr>
            <th>Заказ</th>
            <th>Дата</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody> {% csrf_token %}
        {% for order in orders %}
        <p>Спасибо, {{ user.username }}!</p>
            {% for item in order.items.all %}       
            <tr>
                <td>№{{ order.id }}</td>
                <td>{{ order.created }}</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ order.status }}</td>
            </tr>
            {% endfor %}
        {% empty %}
        <tr>
            <td colspan="5">Нет заказов</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/">Вернуться в магазин</a>