{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/order_detail.css' %}" rel="stylesheet">
<link href="{% static 'css/mobile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% csrf_token %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-row">
                <div class="col-lg-12 text-center">

                    <h5>"orders.html"</h5>
                    <h2>Мои заказы - "orders.html"</h2>

                    <a href="?status=new">Новые</a> |
                    <a href="?status=confirmed">Подтвержденные</a> |
                    <a href="?status=shipped">Отправлен</a>
                    <hr>

                    <div class="tabs">
                        {% csrf_token %}
                        {% if orders %}
                        <main class="main">
                            <div class="result-wrapper">
                                <div class="adaptive-table-wrapper">
                                    <table class="adaptive-table">
                                        <thead>
                                            <tr>
                                                <th>Просмотр</th>
                                                <th>Заказ №</th>
                                                <th>Заказчик</th>
                                                <th>Получатель</th>
                                                <th>Статус</th>
                                                <th>Дата</th>
                                                <!-- <th>Изменить</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% csrf_token %}
                                            {% for order in orders %}
                                            <tr>
                                                <td>
                                                    <div class="summary-button">
                                                        <a href="{% url 'orders:order_detail' order.id %}"
                                                            class="back-href" {{ order.orders }}>
                                                            <img src="{% static 'img/eye.svg' %}"
                                                                alt="Просмотреть" width="16" height="16"
                                                                class="mg-lft"></a>
                                                    </div>
                                                </td>
                                                <td>{{ order.id }}</td>
                                                <td>{{ order.user }}</td>
                                                <td>{{ order.customer_name }}</td>
                                                <td>{{ order.get_status_display }}</td>
                                                <td>{{ order.created }}</td>
                                                {% csrf_token %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                {% else %}
                                <p>Нет заказов</p>
                                {% endif %}
                            </div>
                            <hr>
                            <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block footer %}
    {% include 'products/footers.html' %}
    {% endblock %}