{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<!-- <link href="{% static 'css/style.css' %}" rel="stylesheet"> -->
<link href="{% static 'css/mobile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4 text-center">
        Наши контакты
    </h2>

    <div class="row">
        <!-- <div class="col-lg-8 mx-auto"></div> -->
        <div class="col-md-6">


            <div class="card shadow mb-4">
                <div class="card-header bg-primary text-white">
                    Контактная информация
                </div>

                <div class="card-body">

                    <p>
                        <strong>🏢 Интернет магазин косметики:</strong><br>
                        <b>DIANITA</b>
			<a>tel.html</a>
                    </p>

                    <p>
                        <strong>📍 Адрес:</strong><br>
                        г. Москва,<br>
                        ул. Примерная, д.10
                    </p>

                    <p>
                        <strong>📞 Телефон:</strong><br>
                        <a href="tel:+79991234567">
                            +7 (999) 123-45-67
                        </a>
                    </p>

                    <p>
                        <strong>📧 Email:</strong><br>
                        <!-- <a href="mailto:info@intershop.ru">
                            info@intershop.ru -->
                        <a href="mailto:TulinVM@gmail.com"></a>
                            TulinVM@gmail.com
                        </a>
                    </p>

                    <p>
                        <strong>🕘 Время работы:</strong><br>
                        Пн–Пт: 09:00–18:00<br>
                        Сб–Вс: Выходной
                    </p>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

{% block footer %}
{% include 'products/footers.html' %}
{% endblock %}